:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background: linear-gradient(to right, #e3f2fd, #bbdefb);
  font-family: "Poppins", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 360px;
  text-align: center;
}

.form-container h2 {
  color: #1976d2;
  margin-bottom: 20px;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  background: #1976d2;
  color: white;
  border: none;
  padding: 10px 0;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  pointer-events: auto;
  z-index: 1;
  font-weight: 600;
}

button:hover {
  background: #1565c0;
}

.switch-text {
  margin-top: 10px;
  font-size: 14px;
}

.link {
  color: #1976d2;
  cursor: pointer;
  font-weight: bold;
}
